/*
***************************** Stylesheet for Success Page *********************************************
*/

body
{
    background-color: #E9ECEF !important;
}
div.jumbotron
{
    margin-top: 10%;
    height: 400px !important;
}